<main class="main">
  <div class="inner">
  toppage
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to current_user.nickname, prototype_path(@prototype), class: :greeting__link%>さん
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'prototype', collection: @prototype %>
    </div>
  </div>
</main>
